<div class="pos-login-wrapper">
  <div class="pos-login-container">
    
    <!-- Lado Izquierdo: Branding / Logo -->
    <div class="login-branding">
      <div class="brand-content">
        <!-- Puedes cambiar este icono por un SVG o <img> de tu empresa -->
        <div class="brand-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </div>
        <h1>POS Terminal</h1>
        <p>Control de Ventas e Inventario</p>
      </div>
    </div>

    <!-- Lado Derecho: Formulario -->
    <div class="login-form-section">
      <div class="form-header">
        <h2>Bienvenido</h2>
        <p>Ingresa tus credenciales para abrir tu turno.</p>
      </div>

     <!-- Enlazamos el formGroup y el evento de submit -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        
        <div class="form-group">
          <label for="username">Usuario</label>
          <div class="input-wrapper">
            <!-- Agregamos formControlName -->
            <input 
              type="text" 
              id="username" 
              formControlName="username" 
              placeholder="ej. admin o cajero01" 
              autocomplete="off"
              [class.input-error]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          </div>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="input-wrapper">
            <!-- Agregamos formControlName -->
            <input 
              type="password" 
              id="password" 
              formControlName="password" 
              placeholder="••••••••" 
              [class.input-error]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          </div>
        </div>

        <!-- Renderizado condicional moderno (Angular 17/18) leyendo el signal() -->
        @if (errorMessage()) {
          <div class="error-message">
            {{ errorMessage() }}
          </div>
        }

        <!-- Botón dinámico: se deshabilita mientras carga -->
        <button type="submit" class="btn-login" [disabled]="isLoading() || loginForm.invalid">
          @if (isLoading()) {
            Verificando...
          } @else {
            Acceder al Sistema
          }
        </button>
        
      </form>
    </div>

  </div>
</div>